body{
	padding-left: 10px;
	padding-right: 10px;
}
#fixed-top-navigation{
	background-color: #fff;
	border-bottom: 1px solid #333;
}
#header{
	padding-left: 20px;
}
#album_meta_data span{
	margin-right: 20px;
}
.selected_album{
	font-weight: bold;
	font-size: 120%;
}
.meta_table_body tr td, .meta_table_head tr th, .meta_table_body tr th{
	text-align: center;
}
.headline_album_button{
	cursor: pointer;
	margin: 10px;
	word-break: break-all;
	color: rgba(0, 0, 0, 0.0);
}
.headline_album_button.active{
	border: 3px solid #2ca02c;
}
.hide{
	display: none;
}
.well{
	background-color: #fff;
}
.pie_chart_tile{
	margin: 10px;
}
.headline_album_button:hover{
	background-color: #fff;
	background-image: url();
	color: rgba(0, 0, 0, 0.8);
}
.pie_chart_tile div{
	text-align: center;
}

/* album covers as background images */
.single, .please_please_me, .with_the_beatles, .a_hard_days_night, .beatles_for_sale, .help, .rubber_soul, 
	.revolver, .sgt_peppers_lonely_hearts_club_band, .magical_mystery_tour, .the_beatles, .yellow_submarine,
	.abbey_road, .let_it_be{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	}

.single{
	background-image: /*linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),*/ url('../images/single.jpg');
}
.please_please_me{
	background-image: url('../images/please_please_me.jpg');
}
.with_the_beatles{
	background-image: url('../images/with_the_beatles.jpg');
}
.a_hard_days_night{
	background-image: url('../images/a_hard_days_night.jpg');
}
.beatles_for_sale{
	background-image: url('../images/beatles_for_sale.jpg');
}
.help{
	background-image: url('../images/help.jpg');
}
.rubber_soul{
	background-image: url('../images/rubber_soul.jpg');
}
.revolver{
	background-image: url('../images/revolver.jpg');
}
.sgt_peppers_lonely_hearts_club_band{
	background-image: url('../images/sgt_peppers_lonely_hearts_club_band.jpg');
}
.magical_mystery_tour{
	background-image: url('../images/magical_mystery_tour.jpg');
}
.the_beatles{
	background-image: url('../images/the_beatles.jpg');
}
.yellow_submarine{
	background-image: url('../images/yellow_submarine.jpg');
}
.abbey_road{
	background-image: url('../images/abbey_road.jpg');
}
.let_it_be{
	background-image: url('../images/let_it_be.jpg');
}
